<div class="filters-container">
<div class="form-inline mb-2">
    <div class="form-group ml-2">
        
      <p-calendar [(ngModel)]="filter.startDate" placeholder="Başlangıç Tarihi" dateFormat="dd.mm.yy"></p-calendar>

        
      </div>
      <div class="form-group ml-2">
        <p-calendar [(ngModel)]="filter.endDate" placeholder="Bitiş Tarihi" dateFormat="dd.mm.yy"></p-calendar>
      </div>
      <div class="form-group ml-2">
        <p-dropdown [options]="customers" optionLabel="companyName" placeholder="Müşteri" [(ngModel)]="selectedCustomer"  [filter]="true" [style]="{'width':'250px'}"></p-dropdown>
      </div>
      
      <button class="btn btn-success ml-2" [class.disabled]="loading" (click)="filterWaybills()">
        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
        Ara
      </button>
</div>
<app-waybills-list [allWaybills]="filteredWaybills"></app-waybills-list>
</div>