<div>
  <p-dataTable [value]="allBills" [loading]="loading" resizableColumns="true" >
    
      <p-header>Fatura listesi</p-header>
      <p-column field="billNumber" header="F.No." [filter]="true" filterPlaceholder="F.No" [style]="{'width':'7%'}"></p-column>
      <p-column field="customer.companyName" header="Firma" [filter]="true" filterPlaceholder="Firma" filterMatchMode="contains">
        <ng-template pTemplate="body" let-col let-customer="rowData.customer">
          {{customer?.companyName}}
        </ng-template>
      </p-column>
      <p-column field="customer.customerName" header="Müşteri" [filter]="true" filterPlaceholder="Müşteri" filterMatchMode="contains">
        <ng-template pTemplate="body" let-col let-customer="rowData.customer">
          {{customer?.customerName}} {{customer?.lastname}}
        </ng-template>
      </p-column>
      <p-column field="address.street" header="Adres" [filter]="true" filterPlaceholder="Adres" filterMatchMode="contains">
        <ng-template pTemplate="body" let-col let-address="rowData.address">
          {{address?.street}}, {{address?.postCode}}, {{address?.city?.name}}
        </ng-template>
      </p-column>
      <p-column field="id" header="Güncelle" [style]="{'width':'10%'}">
        <ng-template pTemplate="body" let-col let-bill="rowData">
          <button class="btn btn-success btn-block btn-sm" (click)="updateBill(bill)">Güncelle</button>
        </ng-template>
      </p-column>
      <p-column field="pdf" header="Yazdir" [style]="{'width':'7%'}">
        <ng-template pTemplate="body" let-col let-bill="rowData">
          <pdf-waybill [waybill]="waybill" ></pdf-waybill>
        </ng-template>
      </p-column>
      <p-column field="id" header="Sil" [style]="{'width':'7%'}">
        <ng-template pTemplate="body" let-col let-bill="rowData">
          <button class="btn btn-danger btn-block btn-sm" (click)="deleteBill(bill)">Sil</button>
        </ng-template>
      </p-column>
    </p-dataTable>
</div>


<p-dialog [positionTop]="50" header="Fatura Detayları" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="true" width="95%">
  <div>
    
    <app-save-bill [selectedBill]="selectedBill"></app-save-bill>
  </div>
</p-dialog>