<!-- <pdf-waybill [waybill]="selectedWayBill==null? lastWaybill:selectedWayBill">
</pdf-waybill> -->
<div class="row">
    <div class="col-md-6">
            <div id="waybill-customer-selection">
                    <table class="table">
                        <tr>
                            <td><label>Müşteri</label></td>
                            <td> <p-dropdown [options]="customers" (onChange)="onCustomerSelect()" [style]="{'width':'100%'}" [(ngModel)]="selectedCustomer"
                                placeholder="Müşteri" optionLabel="companyName" filter="true"></p-dropdown></td>
                            <td>  <label for="">Fiyat Tipi</label></td>
                            <td><select id="drpPriceType" class="form-control form-control-sm" [(ngModel)]="priceTypeId"
                                (change)="getProducts()">
                                <option value="1">Müşteriye Özel</option>
                                <option value="2">Sabit Fiyat</option>
                                <option value="3">Bronz Fiyat</option>
                                <option value="4">Gümüş Fiyat</option>
                                <option value="5">Altın Fiyat</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td> <label>Fatura Adresi</label></td>
                            <td>  <p-dropdown [options]="selectedCustomer?.addresses" [style]="{'width':'100%'}" [(ngModel)]="selectedAddress"
                                placeholder="Adres" filter="true" optionLabel="street">
                            </p-dropdown></td>
                            <td> <label>Teslimat Adresi</label></td>
                            <td>  <p-dropdown [options]="selectedCustomer?.addresses" [style]="{'width':'100%'}" [(ngModel)]="deliveryAddress"
                                placeholder="Adres" filter="true" optionLabel="street">
                            </p-dropdown></td>
                        </tr>
                        <tr>
                            <td> <label>Oluşturulma Tarihi</label></td>
                            <td> <p-calendar [(ngModel)]="createdDate" dateFormat="dd.mm.yy" hideOnDateTimeSelect="true"></p-calendar></td>
                            <td>  <label>Dağıtım Tarihi</label></td>
                            <td> <p-calendar [(ngModel)]="deliveryDate" dateFormat="dd.mm.yy" hideOnDateTimeSelect="true"></p-calendar></td>
                        </tr>
                        <tr>
                            <td>  <label>Fatura Numarası</label></td>
                            <td> <input type="number" class="form-control form-control-sm" [(ngModel)]="convertedBillNumber" /></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    
                   
                   
                    
                </div>
        <p-table [value]="basketProducts" #dtBasketProducts [columns]="productListCols" [loading]="loading"
            [scrollable]="true" [scrollHeight]="windowsHeight()">
            <ng-template pTemplate="caption">
                Ürünler ({{basketProducts.length}})
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>

                </tr>
                <tr>
                    <th>
                        <input placeholder="Barkod..." class="form-control form-control-sm" type="text" (input)="dtBasketProducts.filter($event.target.value, 'product.barcodeOfProduct','contains')">
                    </th>
                    <th>
                        <input placeholder="Siparis Numarası..." class="form-control form-control-sm" type="text"
                            (input)="dtBasketProducts.filter($event.target.value, 'product.orderNumber','contains')">
                    </th>
                    <th>
                        <input placeholder="Ürün..." class="form-control form-control-sm" type="text" (input)="dtBasketProducts.filter($event.target.value, 'product.productName','contains')">
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-basketProduct let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns" [ngSwitch]="col.field">
                        <span *ngSwitchCase="'barcodeOfProduct'">{{basketProduct.product.barcodeOfProduct}}</span>
                        <span *ngSwitchCase="'orderNumber'">{{basketProduct.product.orderNumber}}</span>
                        <span *ngSwitchCase="'productName'">{{basketProduct.product.productName}}</span>
                        <input *ngSwitchCase="'netSalePrice'" [(ngModel)]="basketProduct.product.netSalePrice" class="form-control" />
                        <div *ngSwitchCase="'package'" class="ui-inputgroup">
                            <button class="btnDecrease" (click)="decrease(basketProduct)">-</button>
                            <input type="number" min="0" class="waybill-product-package" [(ngModel)]="basketProduct.package"
                                (ngModelChange)="setPackage(basketProduct)" />
                            <button class="btnIncrease" (click)="increase(basketProduct)">+</button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>



    </div>
    <div class="col-md-6">
        <div id="waybillContainer">

         
            <div id="waybill-preview">

                <div id="waybill-header">
                    <div class="row">
                        <div class="col-md-8">
                            <p id="companyAddress">GÖRAL Vertriebs GMBH Kenan Aydin , OhligserStr. 22 , 42329 Wuppertal</p>
                            <p id="customerAddress" class="border-bottom">{{selectedCustomer?.companyName}}
                                <br> {{selectedAddress?.street}}
                                <br> {{selectedAddress?.postCode}} {{selectedAddress?.city?.name}}
                            </p>
                        </div>
                        <div class="col-md-4" id="logo">
                            <img src="assets/images/goral.png" />
                            <br>
                            <p>Kunden Nr: {{selectedCustomer.id}}</p>
                            <p>Lieferdatum:{{createdDate | date:'dd-MM-yyyy'}}</p>
                        </div>
                    </div>
                    <h3 class="border-bottom">LIEFERSCHEIN: {{selectedWayBill==null? lastWaybill?.id:selectedWayBill.id
                        }}</h3>
                </div>
                <div id="waybillProducts">
                    <table class="table table-bordered">
                        <tr>
                            <th>Pos</th>
                            <th>Menge</th>
                            <th>Art.Nr.</th>
                            <th>Barcode</th>
                            <th>Text</th>
                            <th>Preis</th>
                            <th>MwSt</th>
                            <th>Stück</th>
                        </tr>
                        <tr *ngFor="let product of currentWaybill;index as i;" [ngStyle]="{ 'background-color': (product.product.netSalePrice<=0 ? 'red' : '') }">
                            <td>{{i+1}}</td>
                            <td>
                                <button class="btnDecrease btn-danger" (click)="removeProductToCurrentWaybill(product)">X</button>
                                <button class="btnDecrease btn-warning" (click)="decrease(product)">-</button>
                                <input type="number" class="waybill-product-package" [(ngModel)]="product.package"
                                    (ngModelChange)="setPackage(product)" />
                                <button class="btnIncrease btn-success" (click)="increase(product)">+</button>
                            </td>
                            <td>{{product.product.orderNumber}}</td>
                            <td>{{product.product.barcodeOfProduct}}</td>
                            <td>{{product.product.productName}}</td>

                            <td><input type="number" class="form-control form-control-sm waybill-netSale-Price"
                                    [(ngModel)]="product.product.netSalePrice" /></td>
                            <td><input type="number" class="form-control form-control-sm waybill-tax" [(ngModel)]="product.product.tax" /></td>
                            <td>{{product.package}} Kolli X {{ product.product.unitsInPackage }} Stk =
                                {{product.package*product.product.unitsInPackage}} </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td> <mark>{{currentWaybillTotals.totalPackages}} Kolli</mark> </td>
                            <td></td>
                            <td></td>
                            <td> <mark>{{currentWaybillTotals.totalItems}} Artikel</mark> </td>
                            <td></td>
                            <td></td>
                            <td> <mark>{{currentWaybillTotals.totalPieces}} Stk</mark> </td>
                        </tr>
                    </table>

                    <div id="waybill-total-prices">

                        <h3>Netto:{{currentWaybillTotals.totalNetPrice | money}} €</h3>
                        <h3>Mwst:{{currentWaybillTotals.totalTaxPrice | money}} €</h3>
                        <h3>Rabatt: <input id="waybillExtraDiscount" type="number" [(ngModel)]="selectedCustomer.extraDiscount"
                                (keyup)="calculateCurrentWaybillPrices()"> % = -{{currentWaybillTotals.extraDiscount |
                            money}} € </h3>
                        <h3>Skonto: <p-dropdown [options]="discountRates" [(ngModel)]="selectedDiscountRate"
                                optionLabel="definition" (onChange)="calculateCurrentWaybillPrices()"></p-dropdown>{{selectedDiscountRate?.rate}}
                            % = -{{currentWaybillTotals.discount | money}} €</h3>
                        <h3>Brutto:{{currentWaybillTotals.totalGrossPrice | money}} €</h3>


                    </div>
                </div>
            </div>
            <div id="waybillOperations">
                <button class="btn btn-success" [disabled]="currentWaybill.length==0 || selectedCustomer.id==null || selectedAddress.id==null || createdDate==null || deliveryDate==null"
                    (click)="saveWaybill()">KAYDET</button>
                <button class="btn btn-danger" [disabled]="currentWaybill.length<1" (click)="clearProducts()">Temizle</button>
            </div>
        </div>
    </div>
</div>