<div class="row">
  <div class="col-md-6">
    <p-dataTable [value]="basketProducts" scrollable="true" scrollHeight="500px">
      <p-header>Ürünler</p-header>
      <p-column field="basketProducts.product" header="Barkod">
          <ng-template let-col let-product="rowData.product"  pTemplate="body">
              <span>{{product.barcodeOfProduct}}</span>
          </ng-template>
      </p-column>
      <p-column field="basketProducts.product" header="S.No">
          <ng-template let-col let-product="rowData.product"  pTemplate="body">
              <span>{{product.orderNumber}}</span>
          </ng-template>
      </p-column>
      <p-column field="basketProducts.product" header="Ürün">
          <ng-template let-col let-product="rowData.product"  pTemplate="body">
              <span>{{product.productName}}</span>
          </ng-template>
      </p-column>

     
      <p-column field="basketProducts.package" header="Koli" [style]="{'width':'20%'}">
        <ng-template pTemplate="body" let-product="rowData">
            <div class="ui-inputgroup">
                <button pButton type="button" (click)="decrease(product)">
                    <i class="fa fa-2x fa-minus-circle"></i>
                </button>
                <input class="numberOfPackage ui-inputtext ui-corner-all ui-state-default ui-widget" type="number" pInputText [(ngModel)]="product.package">
                <button pButton type="button" (click)="increase(product)">
                    <i class="fa fa-2x fa-plus-circle"></i>
                </button>
            </div>

        </ng-template>
    </p-column>
    
    </p-dataTable>
  </div>
  <div class="col-md-6">
    <p-dataTable [value]="currentWaybill" scrollable="true" scrollHeight="500px">
        <p-header>irsaliye</p-header>
        <p-column field="currentWaybill.product" header="Barkod">
            <ng-template let-col let-product="rowData.product"  pTemplate="body">
                <span>{{product.barcodeOfProduct}}</span>
            </ng-template>
        </p-column>
        <p-column field="currentWaybill.product" header="S.No">
            <ng-template let-col let-product="rowData.product"  pTemplate="body">
                <span>{{product.orderNumber}}</span>
            </ng-template>
        </p-column>
        <p-column field="currentWaybill.product" header="Ürün">
            <ng-template let-col let-product="rowData.product"  pTemplate="body">
                <span>{{product.productName}}</span>
            </ng-template>
        </p-column>
        <p-column field="currentWaybill.package" header="Koli" [style]="{'width':'20%'}">
          <ng-template pTemplate="body" let-product="rowData">
              <div class="ui-inputgroup">
                  <button pButton type="button" (click)="decrease(product)">
                      <i class="fa fa-2x fa-minus-circle"></i>
                  </button>
                  <input class="numberOfPackage ui-inputtext ui-corner-all ui-state-default ui-widget" type="number" pInputText [(ngModel)]="product.package">
                  <button pButton type="button" (click)="increase(product)">
                      <i class="fa fa-2x fa-plus-circle"></i>
                  </button>
              </div>
  
          </ng-template>
      </p-column>
      
      </p-dataTable>
  </div>
</div>
