<div>
    <p-dataTable [value]="allWaybills" [loading]="loading" resizableColumns="true" >
   
        <p-header>irsaliye listesi</p-header>
        <p-column field="id" header="Irs.No." [filter]="true" filterPlaceholder="Irs.No" [style]="{'width':'7%'}"></p-column>
        <p-column field="customer.companyName" header="Firma" [filter]="true" filterPlaceholder="Firma" filterMatchMode="contains">
          <ng-template pTemplate="body" let-col let-customer="rowData.customer">
            {{customer?.companyName}}
          </ng-template>
        </p-column>
        <p-column field="customer.customerName" header="Müşteri" [filter]="true" filterPlaceholder="Müşteri" filterMatchMode="contains">
          <ng-template pTemplate="body" let-col let-customer="rowData.customer">
            {{customer?.customerName}} {{customer?.lastname}}
          </ng-template>
        </p-column>
        <p-column field="address.street" header="Adres" [filter]="true" filterPlaceholder="Adres" filterMatchMode="contains">
          <ng-template pTemplate="body" let-col let-address="rowData.address">
            {{address?.street}}, {{address?.postCode}}, {{address?.city?.name}}
          </ng-template>
        </p-column>
        <p-column field="id" header="Güncelle" [style]="{'width':'10%'}">
          <ng-template pTemplate="body" let-col let-waybill="rowData">
            <button class="btn btn-success btn-block btn-sm" (click)="updateWaybill(waybill)">Güncelle</button>
          </ng-template>
        </p-column>
        <p-column field="pdf" header="Yazdir" [style]="{'width':'7%'}">
          <ng-template pTemplate="body" let-col let-waybill="rowData">
            <pdf-waybill [waybill]="waybill" ></pdf-waybill>
          </ng-template>
        </p-column>
        <p-column field="id" header="Sil" [style]="{'width':'7%'}">
          <ng-template pTemplate="body" let-col let-waybill="rowData">
            <button class="btn btn-danger btn-block btn-sm" (click)="deleteWaybill(waybill)">Sil</button>
          </ng-template>
        </p-column>
      </p-dataTable>
</div>
   

<p-dialog [positionTop]="50" header="Irsaliye Detayları" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="true" width="95%">
    <div>
      
      <app-new-waybill [selectedWayBill]="selectedWayBill"></app-new-waybill>
    </div>
</p-dialog>