<div>
    <p-table #dtWaybillList [columns]="waybillListColumns" [value]="allWaybills" [loading]="loading" [scrollable]="true" [scrollHeight]="windowsHeight()">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>   
            <tr>
                <th>
                    <input placeholder="Irs.No..." class="form-control form-control-sm" type="text" (input)="dtWaybillList.filter($event.target.value, 'id','contains')">
                </th>
                <th>
                    <input placeholder="Firma..." class="form-control form-control-sm" type="text" (input)="dtWaybillList.filter($event.target.value, 'customer.companyName','contains')">
                </th>
                <th>
                    <input placeholder="Müşteri..." class="form-control form-control-sm" type="text" (input)="dtWaybillList.filter($event.target.value, 'customer.customerName','contains')">
                </th>
                <th>
                    <input placeholder="Adres..." class="form-control form-control-sm" type="text" (input)="dtWaybillList.filter($event.target.value, 'customer.address.street','contains')">
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-waybill let-columns="columns">
            <tr>
                <td *ngFor="let col of columns" [ngSwitch]="col.field">
                    <span *ngSwitchCase="'id'">{{waybill.id}}</span>
                    <span *ngSwitchCase="'companyName'">{{waybill.customer.companyName}}</span>
                    <span *ngSwitchCase="'customerName'">{{waybill.customer.customerName}} {{waybill.customer.lastname}}</span>
                    <span *ngSwitchCase="'address'">{{waybill.address.street}} {{waybill.address.postCode}} {{waybill.address.city.name}}</span>
                   <button *ngSwitchCase="'update'" class="btn btn-success" (click)="updateWaybill(waybill)">Güncelle</button>
                   <button *ngSwitchCase="'print'" class="btn btn-primary" (click)="onWaybillPreview(waybill)">Önizleme</button>
                   <button *ngSwitchCase="'delete'" class="btn btn-danger" (click)="deleteWaybill(waybill)">Sil</button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    
</div>
   

<p-dialog [positionTop]="50" header="Irsaliye Detayları" [(visible)]="dialogVisible" (onHide)="onCloseNewWaybillDialog()" [responsive]="true" showEffect="fade" [modal]="true" width="95%">
    <div>
      
      <app-new-waybill [selectedWayBill]="selectedWayBill"></app-new-waybill>
    </div>
</p-dialog>

<p-dialog [positionTop]="50" header="irsaliye önizleme" [(visible)]="showPrintDialog"  [responsive]="true" showEffect="fade" [modal]="true" width="95%">
        <div>
                <app-waybill-print [selectedWaybill]="selectedWayBill"></app-waybill-print>
          
        </div>
    </p-dialog>

