

<div class="row">
  <div class="col-md-4 chart-container">
    <p class="text-center font-italic">Ödenmeyen Faturalar</p>
    <app-unpaid-bills-chart [unPaidBillsData]="unPaidBillsData"></app-unpaid-bills-chart>
  </div>

  <div class="col-md-4 chart-container">
      <p class="text-center font-italic">Ayın Satış Grafiği  <a [routerLink]="['/billReports']"  class="btn btn-link">Diğer Satış Raporlar</a></p>
      <app-this-month-bills-chart [thisMonthBillsData]="thisMonthBillsData"></app-this-month-bills-chart>
    </div>
</div>



