.card
{
    display: inline-block;
  
}
.card-header
{
    background-color: black;
}
.badge
{
    background-color: black;
    color: white !important;
    font-size: 1.1em;
}

.card-text
{
    color: black;
    font-style: italic;
}