<button class="btn btn-primary" (click)="printPage()"><i class="fa fa-print" aria-hidden="true"></i>Yazdır</button>
<br><br>
<div id="all-page" style="height:800px; overflow:scroll;">
  <div id="page-container">
    <div id="page-header" style="position: relative;
  height: 290px;
  width: 800px;">
      <!-- <h1 style="    position: absolute;
    text-align: center;
    width: 80%;">GÖRAL Vertriebs GMBH</h1> -->
      <!-- <img src="assets/images/goral.png" style="    position: absolute;
    right: 0px;
    top: 0px;" /> -->
      <div id="waybill-infos" style="position: absolute;
    height: 290px;
    width: 800px;
    top: 0px;">
        <span id="company-address" style="position: absolute;
        text-decoration: underline;
        font-size: 0.7em;
        font-style: italic;
        top: 0px;
        left: 0px;">GÖRAL
          Vertriebs GMBH,Kenan Aydin,Ohligser Str. 22, 42329 Wuppertal</span>
        <span id="customer-company" style="position: absolute;
        top: 25px;
        font-weight: bold;
        left: 0px;
        font-size: 0.9em;">{{selectedBill?.customer.companyName}}</span>
        <span id="customer-name" style="    position: absolute;
        top: 39px;
        left: 0px;
        text-transform: capitalize;
        font-size: 0.9em;"
          *ngIf="selectedBill?.customer.customerName!=null && selectedBill?.customer.lastname!=null">{{selectedBill?.customer.customerName
          + ' ' + selectedBill?.customer.lastname }}</span>
        <span id="customer-address" style="    position: absolute;
        top: 50px;
        left: 0px;
        line-height: 25px;
        font-size: 0.9em;
        font-weight: bold;">{{selectedBill?.address.street}}<br>
          {{selectedBill?.address.postCode}} {{selectedBill?.address.city.name}}
        </span>
        <h3 id="waybill-number" style="position: absolute;
            bottom: 20px;
            left: 0px;">Gutschrift Nr.:{{selectedBill?.billNumber }}
        </h3>
        <p id="delivery-address" style="    position: absolute;
        bottom: 9px;
        left: 0px;
        font-size: 0.8em;
        padding: 0px;
        margin: 0px;">Lieferung vom {{selectedBill?.deliveryDate | date:'dd/MM/yyyy'}} an {{selectedBill?.deliveryAddress.street}},  {{selectedBill?.deliveryAddress.postCode}}, {{selectedBill?.deliveryAddress.city.name}}</p>
        <table style="    position: absolute;
            right: 50px;
            top: 32px;">
          <tr>
            <td>Kunden Nr:</td>
            <td>{{selectedBill?.customer.customerNumber==null || selectedBill?.customer.customerNumber==''
              ?selectedBill?.customer.id:selectedBill?.customer.customerNumber }}</td>
          </tr>
        
          <tr>
            <td>Lieferdatum:</td>
            <td>{{selectedBill?.deliveryDate | date:'dd/MM/yyyy'}}</td>
          </tr>
          <tr>
            <td>Datum:</td>
            <td>{{selectedBill?.createdDate | date:'dd/MM/yyyy'}}</td>
          </tr>
        </table>



      </div>


    </div>
    <div id="page-body">
      <table style="    width: 800px;
    font-weight: bold;">
        <thead>
          <tr>
            <th style="    text-align: left;border-bottom: 1px solid #ccc;">Pos</th>
            <th style="    text-align: left;border-bottom: 1px solid #ccc;">Artikel Bezeichnung</th>
            <th style="    text-align: left;border-bottom: 1px solid #ccc;">Barcode</th>
            <th style="    text-align: right;border-bottom: 1px solid #ccc;">Art.Nr.</th>
          
            <th style="    text-align: right;border-bottom: 1px solid #ccc;">Menge</th>
            <th style="    text-align: right;border-bottom: 1px solid #ccc;">Preis/Stk</th>
            <th style="    text-align: right;border-bottom: 1px solid #ccc;">Preis Gesamt</th>
          </tr>
        </thead>
        <tbody style="     font-size: 0.9em;
      font-weight: normal;">

          <tr *ngFor="let pro of selectedBill?.returnBillProducts;let i=index;">
            <td>{{i+1}}</td>
            <td>{{pro.product.productName}}</td> 
            <td>{{pro.product.barcodeOfProduct}}</td>
            <td style="text-align: right;">{{pro.product.orderNumber}}</td>
            <td style="text-align: right;">{{pro.numberOfPackage}} K = {{pro.numberOfPackage * pro.product.unitsInPackage}} STK</td>
           
            <td style="text-align: right;">{{pro.netSalePrice | money}} €</td>
            <td style="text-align: right;">{{(pro.numberOfPackage * pro.product.unitsInPackage * pro.netSalePrice) |
              money}} €</td>
          </tr>

          <tr>
            <td style="border-top: 1px solid black;"></td>
            <td style="border-top: 1px solid black;"></td>
            <td style="border-top: 1px solid black;"></td>
            <td style="border-top: 1px solid black;"></td>
            
            <td style="    text-align: center;
            font-weight: bold;
            font-size: 0.8em;
            border-top: 1px solid black;
            line-height: 24px;">G.KOLLI:{{billTotals.totalPackages}}</td>
          
            <td style="border-top: 1px solid black;"></td>
            <td style="border-top: 1px solid black;"></td>
          </tr>
        </tbody>
      </table>
     <div id="footer-container" style="page-break-inside: avoid;">
      <div id="totalsContainer" style="font-weight: bold;
      margin-top: 20px;
      border-top: 1px solid #ccc;
      width: 791px;
      min-height: 63px;
      border: 1px solid black;
      padding: 9px;
      
      padding-bottom: 23px;
    ">
        <div class="row" style="border-bottom: 1px solid black;
      height: 20px;">
          <div style="width:590px; float: left;">Gesamt Netto</div>
          <div style="width:200px; float: left; text-align: right;">{{billTotals?.subNetTotalPrice | money}} €</div>
        </div>
        <div class="row" *ngIf="billTotals?.extraDiscount>0" style="border-bottom: 1px solid black;
          height: 20px;">
          <div style="width:590px; float: left;">Rabatt {{ selectedBill?.extraDiscount }}%</div>
          <div style="width:200px; float: left;text-align: right;">-{{billTotals?.extraDiscount | money}} €</div>
        </div>
        <div class="row" *ngIf="billTotals?.extraDiscount>0" style="border-bottom: 1px solid black;
          height: 20px;">
          <div style="width:590px; float: left;"></div>
          <div style="width:200px; float: left;text-align: right;">{{billTotals?.totalNetPrice | money}} €</div>
        </div>
        <div class="row" style="border-bottom: 1px solid black;
      height: 20px;">
          <div style="width:590px; float: left;">Mwst 7%</div>
          <div style="width:200px; float: left;text-align: right;">{{billTotals?.totalTaxPrice | money}} €</div>
        </div>
       
     
        <div class="row">
          <div style="width:590px; float: left;">Brutto Gesamt</div>
          <div style="width:200px; float: left;text-align: right;">{{billTotals?.subGrossTotalPrice | money}} €</div>
        </div>


      </div>
      <!-- <div id="page-footer" style="    font-weight: bold;
      margin-top: 10px;
      padding-top: 7px;
      width: 800px;
      border-top: 1px solid #ccc;">
          <div class="footer-text" style="font-size:0.8em;">
            <div class="bill-is-unpaid" *ngIf="selectedBill?.isPaid==false;else paid_content">
            
    
         
    
              <p>
                Offener Betrag {{billTotals?.totalGrossPrice | money}} EURO. Die Ware bleibt bis zur vollstandigen
                Bezahlung unser Eigentum.
              
              </p>
            </div>
            <ng-template #paid_content>
              <p>Betrag {{billTotals?.totalGrossPrice | money}} EURO dankend erhalten.</p>
            </ng-template>
    
          </div>
    
    
        </div> -->
    </div>
   
  </div>
  </div>
</div>