<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1> Goral GMBH Yonetim Sistemi</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.name"  name="loginName" class="form-control input-underline input-lg" placeholder="Kullanici Adi"required>
                    </div>

                    <div class="form-group">
                        <input type="password"  [(ngModel)]="user.password" name="loginPassword" class="form-control input-underline input-lg" placeholder="Sifre" required>
                    </div>
                    <div class="checkbox" style="float: left">
                            <label>
                                <input type="checkbox"  name="isRemembered" value=""[(ngModel)]="isRemembered" > Beni Hatirla
                            </label>
                        </div>

                </div>
                <a class="btn rounded-btn"  (click)="onLoggedin()"> Giris Yap </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Kayit Ol</a>
            </form>
        </div>
    </div>
</div>
