.main-container {
    margin-top: 56px;
    color: white;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
    background-color: #2f3f4f;
}
@media screen and (max-width: 1300px) {
    .main-container {
        margin-left: 0px !important;
    }
}

.ui-dialog
{
    z-index: 9999 !important;
}
