<div class='main'>
    <div class='content full'>
        <div class='row' style="margin:0px;">

            <p-table #dt [columns]="productListCols" [value]="products" id="product-list" [loading]="loading"
                [scrollable]="true" [scrollHeight]="windowsHeight()" rowHover="true">
                <ng-template pTemplate="caption">

                    <button type="button" id="btnOpenProductAddForm" class="btn btn-primary btn-sm" (click)="showDialogToAdd()">Yeni
                        Ürün
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </button>

                    <button type="button" id="btnExportProductsAsCsv" class="btn btn-primary btn-sm" (click)="dt.exportCSV()">CSV
                        <i class="fa fa-table" aria-hidden="true"></i>
                    </button>
                    <button id="btnExportProductsAsPdf" class="btn btn-primary btn-sm" (click)="exportProductsAsPdf()">PDF
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    </button>
                    <button id="btnBrochure" class="btn btn-primary btn-sm" (click)="showBrochure()">
                        <i class="fa fa-book" aria-hidden="true"></i> Broşür
                    </button>

                    Ürün Listesi (Toplam Ürün Sayısı: {{products.length}})
                    <div style="text-align: right">        
                      
                        <mat-select placeholder="Kategori Seçiniz" [(value)]="filteredCategoryId">
                            <mat-option [value]="0">
                                Tüm Kategoriler
                            </mat-option>
                            <mat-option *ngFor="let cat of categories" [value]="cat.id">
                                {{cat.name}}
                            </mat-option>
                        </mat-select>
                    </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>
                            <input placeholder="Barkod..." pInputText type="text" (input)="dt.filter($event.target.value, 'barcodeOfProduct','contains')">
                        </th>
                        <th>
                            <input placeholder="S.No..." pInputText type="text" (input)="dt.filter($event.target.value, 'orderNumber','contains')">
                        </th>
                        <th>
                            <input placeholder="Ürün Adı..." pInputText type="text" (input)="dt.filter($event.target.value, 'productName','contains')">
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pro let-columns="columns">
                    <tr [pSelectableRow]="pro" *ngIf="filterProductsByCategory(filteredCategoryId,pro)">
                        <td *ngFor="let col of columns" [ngSwitch]="col.field" (click)="col.field!='resim'?onRowSelect(pro):''">
                            <img *ngSwitchCase="'resim'" class="product-image" (click)="showImgDialog(pro)" src="./assets/images/Products/{{pro.barcodeOfProduct}}.jpg"
                                [alt]="pro.productName" onError="this.src='http://via.placeholder.com/500x500';">
                            <span *ngSwitchCase="'purchasePrice'">{{pro.purchasePrice | money}} €</span>
                            <span *ngSwitchCase="'unit'">{{pro.unitsInPackage}} X {{pro.quantity }} {{pro.unit?.name}}</span>
                            <span *ngSwitchCase="'netSalePrice'">{{pro.netSalePrice | money}} € <span class="badge">(Kar %: {{(pro.netSalePrice-pro.purchasePrice)*100/pro.purchasePrice | money}})</span> </span>
                            <span *ngSwitchCase="'tax'">{{pro.tax}} <span class="badge">({{(pro.netSalePrice*pro.tax/100) | money}} €)</span></span>
                            <span *ngSwitchCase="'brutPrice'">{{(pro.netSalePrice+(pro.netSalePrice*pro.tax/100)) |
                                money}} €</span>
                            <span *ngSwitchDefault>{{pro[col.field]}}</span>

                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div>
            </div>

        </div>
        <p-dialog header="Broşür" [(visible)]="isShowBrochure" [modal]="true" [responsive]="true" [width]="1200"
            [maximizable]="true" [baseZIndex]="10000">
            <button class="btn btn-primary btn-sm" (click)="printBrochure()">Yazdır
                <i aria-hidden="true" class="fa fa-file-pdf-o"></i>
            </button><br>
            <hr>
            <div id="brochure">
                <div id="brochureWrapper">
                    <div id="brHeader" style="position: relative;
                    height: 106px;
                    width: 1000px;
                    border: 2px solid purple;
                    border-radius: 57px;">

                        <img src="assets/images/goral.png" style="position: absolute;
                        top: 6px;
                        left: 49px;
                        width: 140px;">

                        <div id="brInfo" style="position: absolute;
                        left: 150px;
                        width: 850px;
                        text-align: center;
                        color: purple;
                        font-size: 1.5em;
                        line-height: 10px;">
                            <h1>Göral GMBH</h1>
                            <h4><span>"Keşke Hiç Bitmese"</span></h4>
                        </div>

                    </div>
                    <div id="brBody">
                        <div *ngFor="let pro of products;let i = index" style="float: left;
                        position: relative;
                        border: 1px solid purple;
                        width: 470px;
                        height: 300px;
                        margin-top: 20px;
                        border-radius: 5px;
                        box-shadow: 0px 0px 10px purple;
                        page-break-inside: avoid;
                        " [style.margin-right]="i%2==0?'35px':'0px'" >
                            
                                <img src="assets/images/Products/{{pro.imageUrl}}" style="width: 240px;
                                height: 240px;
                                border: 2px solid purple;
                                position: absolute;
                                top: 2px;
                                left: 2px;
                                border-radius: 60%;">
                            <span style="position: absolute;
                            bottom: 10px;
                            left: 5px;
                            font-weight: bold;
                            font-size: 1.5em;
                            border: 2px solid purple;
                            padding: 5px;
                            border-radius: 27px;
                            box-shadow: 4px 5px 10px purple !important;">{{pro.productName}}</span>
                            <span style="position: absolute;
                            font-weight: bold;
                            font-size: 4em;
                            background-color: purple;
                            color: white;
                            right: 3px;
                            top: 5px;
                            padding: 6px;
                            border-radius: 40px;">{{pro.netSalePrice | money}}  
                            <span style="font-size:0.8em;">€</span> 
                            
                            
                        </span>
                        <span style="    background-color: purple;
                        color: white;
                        font-weight: bold;
                        padding: 5px;
                        position: absolute;
                        top: 103px;
                        right: 15px;
                        font-size: 1.5em;
                        border-radius: 30px;">{{pro.quantity}} {{pro.unit?.name}} X {{pro.unitsInPackage}} Stk</span>
                        <span style="    position: absolute;
                        right: 48px;
                        top: 155px;
                        font-weight: bold;
                        background-color: purple;
                        color: white;
                        padding: 3px;
                        border-radius: 29px;">{{pro.barcodeOfProduct}}</span>
                        <span style="position: absolute;
                        bottom: 0px;
                        right: 0px;
                        font-weight: bold;
                        background-color: purple;
                        color: white;
                        padding: 3px;
                        font-size: 1.5em;">{{pro.orderNumber}}</span>
                        </div>

                    </div>
                </div>


            </div>

        </p-dialog>
        <p-dialog [header]="newProduct==true?'Yeni Ürün':'Ürün Detayı'" [(visible)]="displayDialog" [responsive]="true"
            [contentStyle]="{'width':'100%'}" showEffect="fade" [modal]="true">
            <div>
                <form class="" #productForm="ngForm">
                    <div class="row">
                        <div class="col-sm-7 border-right">
                            <div class="form-group row">
                                <label for="barcodeOfProduct" class="col-sm-3 col-form-label">Barkod</label>
                                <div class="col-sm-9">
                                    <input pInputText pKeyFilter="pint" id="barcodeOfProduct" name="barcodeOfProduct"
                                        [(ngModel)]="product.barcodeOfProduct" #barcodeOfProduct="ngModel" required
                                        class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="productName" class="col-sm-3">Ürün Adı</label>
                                <div class="col-sm-9">
                                    <input pInputText id="productName" name="productName" [(ngModel)]="product.productName"
                                        class="form-control form-control-sm " required />
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="orderNumber" class="col-sm-3">Sipariş No</label>
                                <div class="col-sm-9">
                                    <input pInputText id="orderNumber" name="orderNumber" [(ngModel)]="product.orderNumber"
                                        class="form-control form-control-sm" required />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="purchasePrice" class="col-sm-3">Alış Fiyatı</label>
                                <div class="col-sm-9">
                                    <input pKeyFilter="money" pInputText id="purchasePrice" name="purchasePrice"
                                        [(ngModel)]="product.purchasePrice " class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="netSalePrice" class="col-sm-3">Satış Fiyatı</label>
                                <div class="col-sm-9">
                                    <input pKeyFilter="money" pInputText id="netSalePrice" name="netSalePrice"
                                        [(ngModel)]="product.netSalePrice" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="barcodeOfPackage" class="col-sm-3">K.Barkodu</label>
                                <div class="col-sm-9">
                                    <input pKeyFilter="pint" pInputText id="barcodeOfPackage" #barcodeOfPackage="ngModel"
                                        name="barcodeOfPackage" [(ngModel)]="product.barcodeOfPackage" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="descripton" class="col-sm-3">Açıklama</label>
                                <div class="col-sm-9">
                                    <textarea [(ngModel)]="product.descripton" name="descripton" class="form-control"></textarea>
                                </div>
                            </div>



                        </div>
                        <div class="col-sm-5">

                            <div class="form-group row">
                                <label for="brands" class="col-sm-3">Marka</label>
                                <div class="col-sm-9">
                                    <p-dropdown [options]="brands" [(ngModel)]="selectedBrand" name="brands" [filter]="true"
                                        appendTo="body" placeholder="Marka sec" optionLabel="name" [style]="{'width':'100%'}"
                                        styleClass="ui-column-filter"></p-dropdown>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="categories" class="col-sm-3">Kategori</label>
                                <div class="col-sm-9">
                                    <p-dropdown [options]="categories" [filter]="true" appendTo="body" [(ngModel)]="selectedCategory"
                                        name="categories" placeholder="Kategori" optionLabel="name" [style]="{'width':'100%'}"
                                        styleClass="ui-column-filter"></p-dropdown>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="taxNumbers" class="col-sm-3">Vergi</label>
                                <div class="col-sm-9">
                                    <p-dropdown [options]="taxNumbers" [filter]="true" appendTo="body" name="taxNumbers"
                                        [(ngModel)]="selectedTax" placeholder="Vergi Sec" optionLabel="data" [style]="{'width':'100%'}"
                                        styleClass="ui-column-filter"></p-dropdown>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="suppliers" class="col-sm-3">Toptancı</label>
                                <div class="col-sm-9">
                                    <p-dropdown [options]="suppliers" [filter]="true" appendTo="body" name="suppliers"
                                        [(ngModel)]="selectedSupplier" placeholder="Tedarikci Sec" optionLabel="name"
                                        [style]="{'width':'100%'}" styleClass="ui-column-filter"></p-dropdown>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="units" class="col-sm-3">Birim</label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input pKeyFilter="money" pInputText id="quantity" name="quantity"
                                                [(ngModel)]="product.quantity" class="form-control form-control-sm" />
                                        </div>
                                        <div class="col-sm-6">
                                            <p-dropdown [options]="units" name="units" [filter]="true" appendTo="body"
                                                [(ngModel)]="selectedUnit" placeholder="g,kg,l,ml" optionLabel="name"
                                                [style]="{'width':'100%'}" styleClass="ui-column-filter"></p-dropdown>
                                        </div>
                                    </div>



                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="unitsInPackage" class="col-sm-3">K.Adet</label>
                                <div class="col-sm-9">
                                    <input pInputText id="unitsInPackage" name="unitsInPackage" [(ngModel)]="product.unitsInPackage"
                                        class="form-control form-control-sm" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="unitsInPackage" class="col-sm-3">Stok</label>
                                <div class="col-sm-9">
                                    <input pInputText id="stockAmount" name="stockAmount" [(ngModel)]="product.stockAmount"
                                        class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <!-- <button type="button" class="ui-button-danger" [disabled]="newProduct" pButton icon="fa-close" (click)="delete()" label="Sil"></button>
                    <button type="button" class="ui-button-success" [disabled]="!productForm.form.valid    ||selectedCategory.name==null" pButton
                        icon="fa-check" (click)="save()" label="Kaydet"></button> -->
                    <button class="btn btn-success" [disabled]="!productForm.form.valid"
                        (click)="save(true)">Kaydet</button>
                    <button class="btn btn-sm" [class.btn-danger]="product.isActive" [class.btn-primary]="!product.isActive" [disabled]="newProduct" (click)="toggleIsActiveProperty(product)">{{product.isActive?'Sil':'Aktif Et'}}</button>
                </div>
            </p-footer>
        </p-dialog>

        <p-dialog header="Resim Yukle" [(visible)]="displayChangeImg" [responsive]="true" [contentStyle]="{'width':'100%'}"
            showEffect="fade" [modal]="true">
            <div>
                <form class="" #ImgForm="ngForm">
                    <div class="row">
                        <div class="col-sm-6 border-right">
                            <div class="form-group row">
                                <div [hidden]="hideImageUrl" class="col-sm-6">
                                    <img class="saveProduct-image" src="http://goralgmbh.com/assets/images/products/{{product.barcodeOfProduct}}.jpg">
                                </div>
                                <div class="" [hidden]="!hideImageUrl">
                                    <image-cropper class="saveProduct-image" [imageChangedEvent]="imageChangedEvent"
                                        [maintainAspectRatio]="true" [aspectRatio]="400 /400" [resizeToWidth]="0"
                                        format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                                        (loadImageFailed)="loadImageFailed()"></image-cropper>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <img class="saveProduct-image" [hidden]="!hideImageUrl" type="file" #fileInput [src]="croppedImage" />
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <table class="float-right">
                        <tr>
                            <td>
                                <span class="btn btn btn-primary btn-file">
                                    Resim Ara
                                    <input type="file" (change)="fileChangeEvent($event)" />
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </td>
                            <td>
                                <button type="button" class="btn btn btn-success" (click)="addFile()">Kaydet
                                    <i class="fa fa-save" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </p-footer>
        </p-dialog>
        <div class="loading" [hidden]="!loading"></div>