<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <!-- <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a> -->
        <!-- <a *ngIf="currentUser.isAdmin=='True'" [routerLink]="['/products']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Ürünler' | translate }}
        </a> -->
        <div class="nested-menu" *ngIf="currentUser.isAdmin=='True'">
            <a class="list-group-item" (click)="addExpandClass('urunler')">
                <span><i class="fa fa-shopping-cart"></i>&nbsp; {{ 'Ürünler' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'urunler'">
                <ul class="submenu">
                        <li>

                                <a [routerLink]="['/products']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                    <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Güncel Ürünler' | translate }}
                                </a>
                            </li>
                    <li>

                        <a [routerLink]="['/passiveProducts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Pasif Ürünler' | translate }}
                        </a>
                    </li>
                   
                   

                </ul>
            </li>
        </div>
        <!-- <a [routerLink]="['/products']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Products' | translate }}
        </a> -->
        <!-- <a [routerLink]="['/customers']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-user"></i>&nbsp;{{ 'Müşteriler' | translate }}
        </a> -->
        <div class="nested-menu" *ngIf="currentUser.isAdmin=='True'">
            <a class="list-group-item" (click)="addExpandClass('musteriler')">
                <span><i class="fa fa-shopping-cart"></i>&nbsp; {{ 'Müşteriler' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'musteriler'">
                <ul class="submenu">
                        <li>

                                <a [routerLink]="['/customers']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                    <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Güncel Müşteriler' | translate }}
                                </a>
                            </li>
                    <li>

                        <a [routerLink]="['/passiveCustomers']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Pasif Müşteriler' | translate }}
                        </a>
                    </li>
                   
                   

                </ul>
            </li>
        </div>


        <div *ngIf="currentUser.isAdmin=='True'" class="nested-menu">
            <a class="list-group-item" style="background-color: yellow; color:black;" (click)="addExpandClass('irsaliye')">
                <span><i class="fa fa-shopping-cart"></i>&nbsp; {{ 'irsaliyeler' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'irsaliye'">
                <ul class="submenu bg-yellow">
                        <li>

                                <a [routerLink]="['/newWaybill']" [routerLinkActive]="['router-link-active']" class="list-group-item bg-yellow">
                                    <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Yeni irsaliye' | translate }}
                                </a>
                            </li>
                    <li>

                        <a [routerLink]="['/thisWeekWaybills']" [routerLinkActive]="['router-link-active']" class="list-group-item bg-yellow">
                            <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Haftanın irsaliyeleri' | translate }}
                        </a>
                    </li>
                    <li>
                    <li>

                        <a [routerLink]="['/thisMonthWaybills']" [routerLinkActive]="['router-link-active']" class="list-group-item bg-yellow">
                            <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Ayın irsaliyeleri' | translate }}
                        </a>
                    </li>
                    <li>

                            <a [routerLink]="['/filteredWaybills']" [routerLinkActive]="['router-link-active']" class="list-group-item bg-yellow">
                                <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'irsaliye ara' | translate }}
                            </a>
                        </li>
                   
                    <li>
                        <a [routerLink]="['/waybills']" [routerLinkActive]="['router-link-active']" class="list-group-item bg-yellow">
                            <i class="fa fa-fw fa-shopping-basket"></i>&nbsp;{{ 'Tüm irsaliyeler' | translate }}
                        </a>
                    </li>

                </ul>
            </li>
        </div>

        <div class="nested-menu" *ngIf="currentUser.isAdmin=='True'">
            <a class="list-group-item bg-red" (click)="addExpandClass('fatura')">
                <span><i class="fa fa-shopping-cart"></i>&nbsp; {{ 'Faturalar' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'fatura'">
                <ul class="submenu bg-red">
                        <li>

                                <a [routerLink]="['/savebill']" [routerLinkActive]="['router-link-active']" class="list-group-item bg-red">
                                    <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Yeni Fatura' | translate }}
                                </a>
                            </li>
                    <li>

                        <a [routerLink]="['/thisWeekBills']" [routerLinkActive]="['router-link-active']" class="list-group-item bg-red">
                            <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Haftanın Faturaları' | translate }}
                        </a>
                    </li>
                    <li>

                        <a [routerLink]="['/thisMonthBills']" [routerLinkActive]="['router-link-active']" class="list-group-item bg-red">
                            <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Ayın Faturaları' | translate }}
                        </a>
                    </li>
                    <li>

                            <a [routerLink]="['/filteredBills']" [routerLinkActive]="['router-link-active']" class="list-group-item bg-red">
                                <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Fatura Ara' | translate }}
                            </a>
                        </li>
                    <li>
                        <a [routerLink]="['/bills']" [routerLinkActive]="['router-link-active']" class="list-group-item bg-red">
                            <i class="fa fa-fw fa-shopping-basket"></i>&nbsp;{{ 'Tüm Faturalar' | translate }}
                        </a>
                    </li>

                </ul>
            </li>
        </div>

        <div class="nested-menu" *ngIf="currentUser.isAdmin=='True'">
            <a class="list-group-item" (click)="addExpandClass('gelenfatura')">
                <span><i class="fa fa-shopping-cart"></i>&nbsp; {{ 'Gelen Faturalar' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'gelenfatura'">
                <ul class="submenu">
                        <li>

                                <a [routerLink]="['/saveVendorBill']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                    <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Gelen Fatura Oluştur' | translate }}
                                </a>
                            </li>
                    <li>

                        <a [routerLink]="['/thisWeekVendorBills']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Haftanın Gelen Faturaları' | translate }}
                        </a>
                    </li>
                    <li>

                        <a [routerLink]="['/thisMonthVendorBills']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Ayın Gelen Faturaları' | translate }}
                        </a>
                    </li>
                    <li>

                            <a [routerLink]="['/filteredVendorBills']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Gelen Fatura Ara' | translate }}
                            </a>
                        </li>
                    <li>
                        <a [routerLink]="['/vendorBills']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-shopping-basket"></i>&nbsp;{{ 'Tüm Gelen Faturalar' | translate }}
                        </a>
                    </li>

                </ul>
            </li>
        </div>

        <div class="nested-menu" *ngIf="currentUser.isAdmin=='True'">
            <a class="list-group-item" (click)="addExpandClass('iadefatura')">
                <span><i class="fa fa-shopping-cart"></i>&nbsp; {{ 'Iade Faturaları' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'iadefatura'">
                <ul class="submenu">
                        <li>

                                <a [routerLink]="['/saveReturnBill']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                    <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Iade Faturası Oluştur' | translate }}
                                </a>
                            </li>
                    <li>

                        <a [routerLink]="['/thisWeekReturnBills']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Haftanın Iade Faturaları' | translate }}
                        </a>
                    </li>
                    <li>

                        <a [routerLink]="['/thisMonthReturnBills']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Ayın Iade Faturaları' | translate }}
                        </a>
                    </li>
                    <li>

                            <a [routerLink]="['/filteredReturnBills']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Iade Faturası Ara' | translate }}
                            </a>
                        </li>
                    <li>
                        <a [routerLink]="['/returnBills']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-shopping-basket"></i>&nbsp;{{ 'Tüm Iade Faturaları' | translate }}
                        </a>
                    </li>

                </ul>
            </li>
        </div>

        <div class="nested-menu" *ngIf="currentUser.isAdmin=='True'">
            <a [routerLink]="['/priceGroups']" class="list-group-item">
                <span><i class="fa fa-shopping-cart"></i>&nbsp; {{ 'Fiyat Grupları' | translate }}</span>
            </a>

        </div>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('siparis')">
                <span><i class="fa fa-shopping-cart"></i>&nbsp; {{ 'Siparişler' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'siparis'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/receivedOrders']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-shopping-basket"></i>&nbsp;{{ 'Bekleyen' | translate }}
                        </a>
                    </li>
                    <li>

                        <a [routerLink]="['/approvedOrders']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Onaylanmiş' | translate }}
                        </a>
                    </li>
                    <li>

                        <a [routerLink]="['/cancelledOrders']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-list-alt "></i>&nbsp;{{ 'Iptal Edilmis' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!-- <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Bootstrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Bootstrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
        </a> -->
        <!-- <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>-->
        <!-- <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
        </a> -->

    </div>
</nav>